/* General*/
body{
    background-color: #22222279;
}
/* Container */
main{
    margin: auto;
    margin-top: 20px;
    width: 70%;
}

article{
    margin: 30px;
    margin-bottom: 0px;
    margin-top: 10px;
    background-color: rgba(216, 216, 216, 0.596);
}
article:nth-child(odd){
    box-shadow: 0px 0px 5px 5px  black ;
}
img{
    width: 100%;
    height: 100%;
}
h4, span{
    margin: 0px;
    padding: 0px;
    margin-left: 5px;
    margin-bottom: 5px;
}
h4{
    margin-top: 20px;
    width: 150px;
}
article:hover{
    box-shadow: 0px 0px 10px 10px  black ;
    transform: scale(1.1);
}
span{
    display: flex;
    width: 170px;
}

/* GRID */
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.2fr 1fr 0.2fr;
    grid-template-areas: 
    "i1 i2 i3 i4 i5"
    "t1 t2 t3 t4 t5"
    "i6 i7 i8 i9 i10"
    "t6 t7 t8 t9 t10";
}

/* Imágenes */
.i1{
    grid-area: i1;
}
.i2{
    grid-area: i2;
}
.i3{
    grid-area: i3;
}
.i4{
    grid-area: i4;
}
.i5{
    grid-area: i5;
}
.i6{
    grid-area: i6;
}
.i7{
    grid-area: i7;
}
.i8{
    grid-area: i8;
}
.i9{
    grid-area: i9;
}
.i10{
    grid-area: i10;
}

/* Texto */
.t1{
    grid-area: t1;
}
.t2{
    grid-area: t2;
}
.t3{
    grid-area: t3;
}
.t4{
    grid-area: t4;
}
.t5{
    grid-area: t5;
}
.t6{
    grid-area: t6;
}
.t7{
    grid-area: t7;
}
.t8{
    grid-area: t8;
}
.t9{
    grid-area: t9;
}
.t10{
    grid-area: t10;
}