/* Escritorio */
@media (min-width: 768px) and (max-width: 992px){
    section{
        border: 5px solid rgb(82, 200, 255);
        display: grid;
        text-align: center;
        width: 60%;
        margin: auto;
        margin-top: 20px;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "h h"
        "fi n1"
        "fi n2"
        "fi n3"
        "fi n4"
        "fo fo";
    }
    section > *{
        background-color: rgb(147, 230, 236);
        border: 0.5px solid black;
        padding: 10px;
    }
    .h{
        grid-area: h;
    }
    .fi{
        grid-area: fi;
    }
    .n1{
        grid-area: n1;
    }
    .n2{
        grid-area: n3;
    }
    .n4{
        grid-area: n4;
    }
    .fo{
        grid-area: fo;
    }   
}