section{
    border: 5px solid rgb(82, 200, 255);
    display: grid;
    text-align: center;
    width: 60%;
    margin: auto;
    margin-top: 20px;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr;
    grid-template-areas: 
    "h h h"
    "uno dos tres"
    "cuatro cinco seis"
    "siete ocho nueve"
    "f f f";
}
section > *{
    background-color: rgb(147, 230, 236);
    border: 0.5px solid black;
    padding: 10px;
}
.h{
    grid-area: h;
}
.uno{
    grid-area: uno;
}
.dos{
    grid-area: dos;
}
.tres{
    grid-area: tres;
}
.cuatro{
    grid-area: cuatro;
}
.cinco{
    grid-area: cinco;
}
.seis{
    grid-area: seis;
}
.siete{
    grid-area: siete;
}
.ocho{
    grid-area: ocho;
}
.nueve{
    grid-area: nueve;
}
.f{
    grid-area: f;
}