section{
    display: grid;
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-areas:
        "l . m m"
        "p p p s"
        "f f f f";
}
section > *{
    background-color: rgb(147, 230, 236);
    color: white;
    padding-bottom: 40px;
}
.l{
    grid-area: l;
    background-color: pink;
}
.m{
    grid-area: m;
    background-color: rgb(235, 97, 47);
}
.s{
    grid-area: s;
    background-color: orange;
}
.p{
    grid-area: p;
    background-color: rgb(65, 163, 255);
}
.f{
    grid-area: f;
    background-color: darkblue;
}