section{
    border: 5px solid rgb(82, 200, 255);
    background-color: rgb(82, 200, 255);
    display: grid;
    text-align: center;
    width: 60%;
    margin: auto;
    margin-top: 20px;
    gap: 10px;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
    grid-template-areas: 
    "h h h"
    "l uno dos"
    "l tres cuatro"
    "l cinco seis"
    "l siete ocho"
    "f f f";
}
section > *{
    background-color: rgb(191, 243, 247);
    border: 0.5px solid;
    padding: 10px;
}
.h{
    grid-area: h;
}
.l{
    grid-area: l;
}
.uno{
    grid-area: uno;
}
.dos{
    grid-area: dos;
}
.tres{
    grid-area: tres;
}
.cuatro{
    grid-area: cuatro;
}
.cinco{
    grid-area: cinco;
}
.seis{
    grid-area: seis;
}
.siete{
    grid-area: siete;
}
.ocho{
    grid-area: ocho;
}
.f{
    grid-area: f;
}